<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
</head>
<body>
<p>Edit User</p>
<form action="#" th:action="@{/admin/edit/{id}(id=${user.getId()})}" th:object="${user}" method="post">
    <table>
        <tr>
            <td><label for="username">Username: </label></td>
            <td><input type="text" th:field="*{username}" id="username" placeholder="Username">
                <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span></td>
        </tr>
        <br/>
        <tr>
            <td><label for="password">Password: </label></td>
            <td><input type="text" th:field="*{password}" id="password" placeholder="Password">
                <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span></td>
        </tr>
        <br/>
        <tr>
            <td><label for="name">Name: </label></td>
            <td><input type="text" th:field="*{name}" id="name" placeholder="Name">
                <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span></td>
        </tr>
        <br/>
        <tr>
            <td><label for="lastname">Lastname: </label></td>
            <td><input type="text" th:field="*{lastname}" id="lastname" placeholder="Lastname" >
                <span th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}"></span></td>
        </tr>
        <br/>
        <tr>
            <td><label for="email">Email: </label></td>
            <td><input type="text" th:field="*{email}" id="email" placeholder="Email">
                <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span></td>
        </tr>

        <br/>

        <tr>
            <td>
                <label>Roles:
                    <select name="checked" th:size="${roles.size()}" multiple>
                        <option th:each="role: ${roles}"
                                th:value="${role.getId()}"
                                th:text="${role.getRole()}"
                                th:selected="${user.getAuthorities().contains(role)}">
                        </option>
                    </select>
                </label>
            </td>
        </tr>

        <tr>
            <td><input type="submit" name = "submit" value="Update"></td>
            <td><a th:href="@{/admin}"><button type="button">Cancel</button></a></td>
        </tr>
    </table>
    </br>
    <a th:href="@{/logout}"><button type="button">Logout</button></a>
</form>
</body>
</html>
