<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Info page</title>
    <style>
        li {
            list-style-type: none;
        }
    </style>
</head>
<body>
<h1>User information:</h1>
<p th:text="'Id: ' + ${user.getId()}">ID</p>
<td>
    <li th:each="role: ${user.getRoles()}" th:text="${role.getRole()}"></li>
</td>
<p th:text="'Username: ' + ${user.getUsername()}">USERNAME</p>
<p th:text="'Name : ' + ${user.getName()}">NAME</p>
<p th:text="'Lastname : ' + ${user.getLastname()}">LASTNAME</p>
<p th:text="'Email : ' + ${user.getEmail()}">EMAIL</p>
<br>
<a th:href="@{/logout}"><button type="button">Logout</button></a>
</body>
</html>